.container {
  display: flex;
  flex-direction: column;
}

.first{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-size: cover;
  background-image: url('../assets/background-linear-turquoise.webp');
  height: 100vh;
  width: 100%;
  font-size: 80px;
}

.second{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-size: cover;
  background-color: #191b1e;
  height: 100vh;
  width: 100%;
  font-size: 80px;
}